body {
    background: rgb(9, 0, 34);
    overflow: hidden;
}

.wrapper1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 2.5rem 0 2.5rem;
    z-index: 999;
    margin-top: 0;
}
.section_img_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    white-space: nowrap;
    overflow: hidden;
}

#menu li {
    list-style: none;
    display: inline-block;
    overflow: hidden;
    visibility: hidden;
    padding: 5px 0;
    margin-bottom: 15px;
}

#menu div {
    transition: transform 0.5s ease;
    font-family: "Grand";
    transform: translateY(-100%);
    font-size: 2rem;
}
.section_img {
    position: absolute;
    box-shadow: 0 80px 120px -40px rgba(26, 1, 31, 0.6);
    width: 77%;
    height: 55%;
    margin: -40% 0 0 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.about_me {
    margin-top: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}
.about_me p:first-of-type {
    margin-top: 0;
    font-size: 3rem;
    font-family: "Grand";
    color: antiquewhite;
}

.about_me span:first-of-type {
    border-radius: 20px;
    width: 60px;
    height: 4px;
    background-color: purple;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    animation: p 500ms ease 600ms;
}
.about_me span:nth-of-type(2) {
    border-radius: 20px;
    width: 60px;
    height: 4px;
    background-color: purple;
    margin-bottom: 1rem;
    margin-left: 9%;
    animation: p 300ms ease 600ms;
}
.about_me p:nth-of-type(2) {
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: antiquewhite;
    font-size: 1.5rem;
    font-family: "Grand";
}

.about_me div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 2.7rem;
    background-color: antiquewhite;
    border-radius: 50px;
    margin-left: 30%;
}
#logo p {
    color: white;
    font-family: "Grand";
    font-size: 1rem;
    white-space: nowrap;
}
#span_wrapper > span {
    font-family: "Grand";
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding-right: 15px;
    display: none;
}
#menu_container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: unset;
}
.moon {
    display: flex;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 480px;
    height: 100vh;
    left: 2%;
    align-items: center;
    justify-content: center;
}

.shadow_moon {
    display: flex;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 480px;
    height: 100vh;
    left: 2%;
    align-items: center;
    justify-content: center;
}

#moon__img_shadow {
    left: 50px;
    z-index: 400;
    width: 250px;
    height: 250px;
    background-color: #090022;
    border-radius: 50%;
    position: fixed;
    background-color: #352e4a;
    border-radius: 50%;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0.064), 0 0 0 4em rgba(255, 255, 255, 0.043),
        0 0 0 6em rgba(255, 255, 255, 0.03), 0 0 0 8em rgba(255, 255, 255, 0.021), 0 0 0 10em rgba(255, 255, 255, 0.023),
        0 0 0 12em rgba(255, 255, 255, 0.01);
}

.fp-section.active .animatedmoon {
    transform: translate3d(0, 0, 0);
}
.moon__img div:first-of-type {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #606060;
    position: absolute;
    left: 15%;
    top: 30%;
}

.moon__img div:nth-of-type(2) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #606060;
    position: absolute;
    left: 25%;
    top: 10%;
}

.moon__img div:nth-of-type(3) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #606060;
    position: absolute;
    left: 40%;
    top: 25%;
}
.slide_img_container .slide_img div {
    display: inline-block;
    position: relative;
    width: 30em;
    height: 30em;
}
.section_img_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    white-space: nowrap;
    overflow: hidden;
}
.slide_img_container .slide_img div p {
    font-family: "Grand";
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 10rem;
    color: #6060603c;
    font-weight: 900;
}

/* .slide_img {
    display: inline-block;
    animation: 100s slide infinite linear;
} */

.animated02 {
    transform: translateX(10vw) scale(0.8);
    transition: transform 1.3s ease-out;
}

.fp-section.active .animated02 {
    transform: translateX(0) scale(1);
}
.moon__img {
    position: absolute;
    left: 50px;
    z-index: 400;
    width: 250px;
    height: 250px;
    background-color: #090022;
    border-radius: 50%;
    border: unset;
    box-shadow: unset;
}
.cloud {
    width: 15px;
    height: 15px;
    position: absolute;
}
img {
    width: 300px;
    height: auto;
}
.cloud--front1 {
    @include position-cloud(-160px, 150px);
}

.cloud--front2 {
    @include position-cloud(-0px, -100px);
}
.cloud--front3 {
    @include position-cloud(30px, 100px);
}
.cloud--back1 {
    @include position-cloud(-170px, -120px);
    z-index: 1;
}
.cloud--back2 {
    @include position-cloud(-200px, 120px);
    z-index: 1;
}
.name_container {
    top: 60%;
    left: 15%;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.name_container p {
    font-family: "Grand";
    color: antiquewhite;
    font-size: 1rem;
    animation: p 500ms ease 500ms;
}

.name_container h1 {
    font-family: "Grand";
    font-weight: 200;
    color: antiquewhite;
    font-size: 2.5rem;
    animation: p 500ms ease 600ms;
}
.name_container span:first-of-type {
    border: 1px solid purple;
    border-radius: 20px;
    width: 60px;
    height: 4px;
    background-color: purple;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    animation: p 500ms ease 700ms;
}

.name_container span:nth-of-type(2) {
    border: 1px solid purple;
    border-radius: 20px;
    width: 60px;
    height: 4px;
    background-color: purple;
    margin-bottom: 1rem;
    margin-left: 15%;
    animation: p 500ms ease 750ms;
}
.name_container h2 {
    font-family: "Grand";
    font-weight: 100;
    color: antiquewhite;
    font-size: 1rem;
    animation: p 500ms ease 600ms;
}

#fp-nav {
    position: fixed;
    z-index: 100;
    top: 74% !important;
    left: 47%;
    opacity: 1;
    transform: rotate(-90deg) translateX(-50%) !important;
}

#fp-nav ul li:first-of-type a span::before {
    content: "01";
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    height: 20px;
    width: 20px;
    border: 0;
    display: inline-block;
    transform: rotate(90deg);
}

#fp-nav ul li:nth-of-type(2) a span::before {
    content: "02";
    font-family: "Quicksand", sans-serif;
    border-radius: 50%;
    letter-spacing: 1px;
    font-weight: 100;
    position: absolute;
    z-index: 5;
    height: 20px;
    width: 20px;
    border: 0;
    display: inline-block;
    transform: rotate(90deg);
}

#fp-nav ul li:nth-of-type(3) a span::before {
    content: "03";
    font-family: "Quicksand", sans-serif;
    border-radius: 50%;
    letter-spacing: 1px;
    font-weight: 100;
    position: absolute;
    z-index: 5;
    height: 20px;
    width: 20px;
    border: 0;
    display: inline-block;
    transform: rotate(90deg);
}
#fp-nav ul li:nth-of-type(4) a span::before {
    content: "04";
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    height: 20px;
    width: 20px;
    border: 0;
    display: inline-block;
    transform: rotate(90deg);
}

#fp-nav ul li a.active span::before {
    color: rgb(255, 255, 255) !important;
    transform: rotate(90deg) scale(1.7) !important;
    // margin: 0 0 0 0;
    transition: 0.5s ease;
}

#fp-nav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 0 !important;
    position: relative;
}

.loadmoon {
    transform: translate3d(100vw, 0, 0);
    animation: animatemoon 700ms ease-out;
    transition: 1000ms ease;
    animation-delay: 0.5s;
}
.section_img_son > div {
    position: relative;
    top: 23%;
    left: 60%;
    width: 9rem;
    height: auto;
    margin-right: 1rem;
}
.section_img_son > div > p {
    display: inline-block;
    font-size: 1.6rem;
    background-image: linear-gradient(90deg, rgba(146, 84, 156, 1) 0%, rgba(64, 49, 133, 1) 100%);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.2rem;
}
